@font-face{
    font-family: HelveticaNeueRegular;
    src : url('/assets/font/HelveticaNeue-Regular.ttf')
}
@font-face{
    font-family: AvenirBook;
    src : url('/assets/font/Avenir Book.ttf')
}
@font-face{
    font-family: AvenirBlack;
    src : url('/assets/font/Avenir-Black.otf')
}
ion-content
{
    --background: url('/assets/img/fondo.png') 0 0/100% 100% no-repeat;
    position: relative;
}
.btn_menu_izquierdo
{
    --background: rgba(12, 12, 12, 0.4);
    --background-activated: transparent;
    --box-shadow: none;
    --border-radius:50%;
    position: fixed;
    top: 0.9375rem;
    left: 14px;
    z-index: 999999;
    --padding-start: 0px;
    --padding-end: 0px;
    width: 35px;
    height: 35px;
    ion-icon
    {
        color: #ffffff;
        font-size: 25px;
        text-shadow: -3px 3px 6px #0000006E;
        margin-right: 4px;
    }
}
ion-card
{
    border-radius: 10px;
    margin: 0px;
    box-shadow: -3px 3px 6px #0000006E;
    height: 230px;
    margin-bottom: 0px;
    ion-thumbnail
    {
        width: 100%;
        height: 100%;
    }
}

ion-item
{
    width: 100%;
    --background: transparent;
    --padding-start: 0px;
    height: 36px;
    ion-radio
    {
        --color-checked: #707070;
        margin-right: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    ion-label
    {
        --color: #575757;
        font-family: AvenirBook;
        font-size: 14px;
        margin: 0px;
    }
}
ion-textarea
{
    --border-radius: 4px;
    --color: #585858;
    border: 1px solid #D6D6D6;
    box-shadow: 0px 3px 6px #00000029;
    background-color: #ffffff;
    --padding-start: 10px;
    --padding-end: 10px;
    overflow: hidden;
    height: 115px;
}
h1
{
    color: #050504;
    font-family: AvenirBlack;
    margin-bottom: 0px;
    font-size: 16px;
}
h5
{
    color: #585858;
    font-family: AvenirBlack;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
}
.p_precio
{
    color: #90B231;
    font-family: HelveticaNeueRegular;
    font-weight: bold;
    margin-top: 0px;
}
.p_descripcion
{
    color: #575757;
    font-family: AvenirBook;
    line-height: 1.3;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
}
div
{
    width: 100%;
    display: flex;
    margin-top: 30px;
    margin-bottom: 15px;
    ion-button
    {
        width: 50%;
        --border-radius: 26px;
        --color:#FFFFFF;
        text-shadow: 0px 2px 2px #00000029;
        --background: #7BED8D;
        --background-activated: #7BED8D;
        font-family: AvenirBlack;
        height: 45px;
        font-size: 13px;
    }
}
.div_estrellas
{
    margin: 0px !important;
}
.estrella:before{content: "\02605";color:#FFF500;font-size: 20px;}
.padding_top_bottom
{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.p_bol_negro
{
    color: #050504;
    font-family: AvenirBlack;
}
.llist_incluye
{
    color: #575757;
    font-family: AvenirBook;
    line-height: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
}
@media(min-width: 768px)
{
    .btn_menu_izquierdo
    {
        ion-icon
        {
            font-size: 3.125rem;
        }
    }
    ion-card
    {
        height: 500px;
    }
}

.div_botonos
{
    width: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    .btn_menos
    {
        --background:#D0D0CE;
        --background-activated: #D0D0CE;
        width: 25px;
        height: 25px;
        --border-radius: 50%;
        margin-right: 8px;
        --padding-start: 0px;
        --padding-end: 0px;
        margin-left: 0px;
        ion-icon
        {
            font-size: 32px;
        }
    }
    .p_catidad
    {
        margin-top: 0px;
        color: #2C2C2C;
        margin-bottom: 0px;
        font-family: HelveticaNeueRegular;
        font-weight: bold;
        width: 20px;
        text-align: center;
    }
    .btn_mas
    {
        --background:#A8D62B;
        --background-activated:#A8D62B;
        width: 25px;
        height: 25px;
        --border-radius: 50%;
        margin-left: 8px;
        --padding-start: 0px;
        --padding-end: 0px;
        margin-right: 0px;
        ion-icon
        {
            font-size: 32px;
        }
    }
}