<ion-content>
  <ion-button class="btn_menu">
    <ion-icon name="menu-outline"></ion-icon>
  </ion-button>
  <ion-grid class="ion-padding-start ion-padding-end" style="background-color: rgba(255, 255, 255, 0.3);">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-no-padding">
        <ion-row class="ion-justify-content-center" >
          <ion-col size="3" size-sm="2" size-md="2" size-xl="2" class="ion-no-padding">
            <ion-img src="assets/img/Componente5–1.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="10" size-sm="7">
        <ion-card>
          <p class="p_book_gracias ion-no-margin">Gracias por</p>
          <p class="p_black_pedido ion-no-margin">SU PEDIDO</p>
          <div></div>
          <p class="p_book_orden">La orden ya se esta preparando</p>
        </ion-card>
      </ion-col>
      <ion-col size="11" size-sm="8" size-md="7">
        <ion-button class="btn_regresar" (click)="gohome ()"> <- Regresar al inicio</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
