<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="position: relative;">
  <ion-card class="ion-no-margin card_menu">
    <h1 class="ion-text-center">Resumen de pedido</h1>
  </ion-card>
  <p class="p_precio_total ion-text-center">Total a pagar: {{ get_precio_total (stock_validator.carrito_platos) | currency:'S/. ' }}</p>
  <ion-radio-group [(ngModel)]="tipo_entrega">
    <ion-row class="ion-justify-content-center">
      <ion-col size="5" size-sm="3" size-lg="2">
        <ion-item lines="none">
          <ion-label>Delivery</ion-label>
          <ion-radio  slot="start" value='0'></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col size="5" size-sm="3" size-lg="2">
        <ion-item lines="none">
          <ion-label>Recogo</ion-label>
          <ion-radio slot="start" value='1'></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-radio-group>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="11" size-md="9" size-lg="11" size-xl="9" class="ion-margin-top paddin_leftrught">
        <ion-row class="ion-justify-content-center">
          <ion-col *ngFor="let item of stock_validator.carrito_platos | keyvalue" size="12" size-sm="6" size-lg="4" class="padding_start_end">
            <ion-card *ngIf="item.value.tipo === 'extra'" class="car_plato">
              <ion-card-header (click)="ver_detalles (item)">
                <ion-thumbnail>
                  <img src="assets/img/plato.png">
                </ion-thumbnail>
                <div class="div_padding_top">
                  <ion-row>
                    <ion-col size="10">
                      <h5>{{ item.value.nombre }}</h5>
                    </ion-col>
                    <ion-col size="2">
                      <span class="span_number">({{ item.value.cantidad }})</span>
                    </ion-col>
                  </ion-row>
                  <div class="bajar_precio">
                    <div class="div_precio">
                      <p class="p_precio">{{ (item.value.precio * item.value.cantidad) + get_extras_precio (item.value.extras) | currency:'S/. ' }}</p>
                      &nbsp;&nbsp;&nbsp;
                      <p class="p_precio">{{ item.value.cantidad }} .Unds</p>
                    </div>
                  </div>
                  <ion-button [ngStyle]="{'transform': item.ver_detalles === true ? 'rotate(90deg)' : 'none' }" class="btn_close_card ion-no-margin transition">
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                  </ion-button>
                </div>
              </ion-card-header>
              <ion-card-content style="width: 100%" *ngIf="item.ver_detalles" [@animation-top]>
                <div class="div_descrip_plato">
                  <p style="margin-bottom: 0px; white-space: pre-line;" class="p_list_descrip espacio_p">
                    {{ item.value.comentarios }}
                  </p>
                  <br>
                  <ul style="list-style-type: none;" class="ion-no-padding ion-no-margin">
                    <li class="p_list_descrip" *ngFor="let extra of item.value.extras">
                      <ng-container *ngIf="extra.cantidad > 0">
                        ({{ extra.cantidad }}) {{ extra.nombre }} {{ extra.precio | currency:'S/. ' }}
                      </ng-container>
                    </li>
                  </ul>
                  <div class="div_botones">
                    <ion-button (click)="editar_extra (item)" class="btn_circulo ion-no-padding"><ion-icon name="pencil-outline" class="icono_plomo_circulo"></ion-icon></ion-button>
                    <ion-button (click)="eliminar_plato (item)" class="btn_circulo ion-no-padding"><ion-icon name="trash-outline" class="icono_plomo_circulo"></ion-icon></ion-button>
                  </div>
                </div>
              </ion-card-content>
            </ion-card>

            <ion-card *ngIf="item.value.tipo === 'menu'" class="car_plato">
              <ion-card-header (click)="ver_detalles (item)">
                <ion-thumbnail>
                  <img src="assets/img/8f003918e9ee1ed3485149c7b6daf73a.png">
                </ion-thumbnail>
                <div class="div_padding_top">
                  <ion-row>
                    <ion-col size="10">
                      <h5>{{ item.value.nombre }}</h5>
                    </ion-col>
                    <ion-col size="2">
                      <span class="span_number">(1)</span>
                    </ion-col>
                  </ion-row>
                  <div class="bajar_precio">
                    <div class="div_precio">
                      <p class="p_precio">{{ item.value.precio | currency:'S/. ' }}</p>
                    </div>
                    <ion-button [ngStyle]="{'transform': item.ver_detalles === true ? 'rotate(90deg)' : 'none' }" class="btn_close_card ion-no-margin transition">
                      <ion-icon name="chevron-forward-outline"></ion-icon>
                    </ion-button>
                  </div>
                </div>
              </ion-card-header>
              <ion-card-content style="width: 100%" *ngIf="item.ver_detalles" [@animation-top]>
                <div class="div_descrip_plato">
                  <p class="p_list_descrip espacio_p">{{ item.value.comentario }}</p>
                  <ul style="list-style-type: none;" class="ion-no-padding ion-no-margin">
                    <li class="p_list_descrip" *ngFor="let extra of item.value.menus">
                      ({{ extra.cantidad }}) {{ extra.nombre }} {{ extra.precio | currency:'S/. ' }}
                    </li>
                  </ul>
                  <div class="div_botones">
                    <ion-button class="btn_circulo ion-no-padding"><ion-icon name="pencil-outline" class="icono_plomo_circulo"></ion-icon></ion-button>
                    <ion-button (click)="eliminar_plato (item)" class="btn_circulo ion-no-padding"><ion-icon name="trash-outline" class="icono_plomo_circulo"></ion-icon></ion-button>
                  </div>
                </div>
              </ion-card-content>
            </ion-card>

            <ion-card *ngIf="item.value.tipo === 'promocion'" class="car_plato">
              <ion-card-header (click)="ver_detalles (item)">
                <ion-thumbnail>
                  <img src="assets/img/8f003918e9ee1ed3485149c7b6daf73a.png">
                </ion-thumbnail>
                <div class="div_padding_top">
                    <ion-row>
                    <ion-col size="10">
                      <h5>{{ item.value.nombre }}</h5>
                    </ion-col>
                    <ion-col size="2">
                      <span class="span_number">({{ item.value.cantidad }})</span>
                    </ion-col>
                  </ion-row>
                  <div class="bajar_precio">
                    <div class="div_precio">
                      <p class="p_precio">{{ item.value.precio | currency:'S/. ' }}</p>
                    </div>
  
                    <div class="div_precio">
                      <p class="p_precio">Descuento: {{ item.value.descuento }}%</p>
                    </div>
                    <ion-button [ngStyle]="{'transform': item.ver_detalles === true ? 'rotate(90deg)' : 'none' }" class="btn_close_card ion-no-margin transition">
                      <ion-icon name="chevron-forward-outline"></ion-icon>
                    </ion-button>
                  </div>
                </div>
              </ion-card-header>
              <ion-card-content style="width: 100%" *ngIf="item.ver_detalles" [@animation-top]>
                <div class="div_descrip_plato">
                  <p style="margin-bottom: 0px; white-space: pre-line;" class="p_list_descrip espacio_p">
                    {{ item.value.comentarios }}
                  </p>
                  <ul *ngIf="item.value.promocion_tipo === '1'" style="list-style-type: none;" class="ion-no-padding ion-no-margin">
                    <li class="p_list_descrip" *ngFor="let plato of item.value.platos">
                      ({{ item.value.cantidad }}) {{ plato.nombre }} {{ plato.precio | currency:'S/. ' }}
                    </li>
                  </ul>
                  <p *ngIf="item.value.promocion_tipo === '0'" class="p_list_descrip espacio_p">
                    ({{ item.value.cantidad }}) {{ item.value.plato.nombre }}
                  </p>
                  <div class="div_botones">
                    <ion-button (click)="editar_promocion (item)" class="btn_circulo ion-no-padding"><ion-icon name="pencil-outline" class="icono_plomo_circulo"></ion-icon></ion-button>
                    <ion-button (click)="eliminar_plato (item)" class="btn_circulo ion-no-padding"><ion-icon name="trash-outline" class="icono_plomo_circulo"></ion-icon></ion-button>
                  </div>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar (click)="openCulqi (stock_validator.carrito_platos)" class="ion-text-center ion-toolbar-footer">
    <ion-button  class="ion-no-margin btn_border btn_footer">
      Pagar
    </ion-button>
    <ion-button  class="ion-no-margin btn_footer">
      {{ get_precio_total (stock_validator.carrito_platos) | currency:'S/. ' }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
