<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin card_menu">
    <h1 class="ion-text-center">Metodo de pago</h1>
  </ion-card>
  <ion-grid class="margin_top">
    <ion-row class="ion-justify-content-center">
      <ion-col size="11" size-sm="8" size-md="8" size-lg="7">
        <p class="p_subtitulos ion-no-margin">Resumen</p>
        <ion-card class="ion-no-margin card_list">
          <div class="div_list">
            <p class="p_book">SubTotal</p>
            <p class="p_black">{{ subtotal | currency:'S/. ' }}</p>
          </div>
          <div class="div_list">
            <p class="p_book">Costo de envio (+ {{ kilometros }} km)</p>
            <p class="p_black">{{ costo_envio | currency:'S/. ' }}</p>
          </div>
          <div class="div_list">
            <p class="p_book">IGV</p>
            <p class="p_black">{{ igv | currency:'S/. ' }}</p>
          </div>
          <div class="div_list margin_top_sin_borde">
            <p class="p_book">Total</p>
            <p class="p_black p_precio_total">{{ total + costo_envio | currency:'S/. ' }}</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="11" size-sm="8" size-md="8" size-lg="7">
        <p class="p_subtitulos">Escoge tu metodo de pago</p>
        <ion-radio-group [(ngModel)]="metodo_pago">
          <ion-row>
            <ion-col size="12">
              <ion-item lines="none">
                <ion-label class="ion-no-margin">Tarjeta de credito o debito.</ion-label>
                <ion-radio slot="start" value="culqi" mode="ios"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-item lines="none">
                <ion-label class="ion-no-margin">Contra entrega</ion-label>
                <ion-radio slot="start" value="contra_entrega" mode="ios"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
      </ion-col>
      <ion-col size="10" size-sm="7" size-md="7" size-lg="6" class="ion-margin-top">
        <ion-button class="btn_listo" (click)="open_culqi ()">Adelante</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>