@font-face{
    font-family: HelveticaNeueRegular;
    src : url('/assets/font/HelveticaNeue-Regular.ttf')
}
@font-face{
    font-family: AvenirBlack;
    src : url('/assets/font/Avenir-Black.otf')
}
@font-face{
    font-family: AvenirBook;
    src : url('/assets/font/Avenir Book.ttf')
}
@font-face{
    font-family: Acumin;
    src : url('/assets/font/Acumin-RPro.otf')
}
ion-card.card_menu
{
    display: block;
    height: 125px;
    border-radius: 0px 0px 36px 36px;
    box-shadow: 0px 5px 30px #0000000D;
    h1
    {
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 16px;
        color: #748A9D;
        font-family: Acumin;
    }
}
.btn_menu
{
    --background: transparent;
    --background-activated: transparent;
    --box-shadow: none;
    margin-top: 0.9375rem;
    margin-left: 0.625rem;
    margin-bottom: 0px;
    ion-icon
    {
        color: #748A9E;
        font-size: 1.5625rem;
        font-family: Acumin;
    }
}
.btn_menu_izquierdo
{
    --background: transparent;
    --background-activated: transparent;
    --box-shadow: none;
    margin-top: 0.9375rem;
    margin-bottom: 0px;
    float: right;
    ion-icon
    {
        color: #748A9E;
        font-size: 1.5625rem;
    }
}
.btn_iconos
{
    width: 100%;
    --box-shadow: none;
    --color:#ffffff;
    --border-radius: 36px;
}

.active {
    --background: #7BED8D;
}

.desactive {
    --background: #ffffff;
}

.active-icon {
    color: #ffffff;
}

.hora_activa {
    --background: #7BED8D !important;
    --color: #fff !important;
}

.grid_card
{
    padding-left: 16px;
    padding-right: 16px;
}
.p_subtitulos
{
    color: #A6BCD0;
    font-family: Acumin;
    font-size: 13px;
    margin-bottom: 5px;
}
ion-item
{
    --background: #F0F4F8;
    --border-radius: 8px;
    --padding-top: 5px;
    --padding-bottom: 5px;
    ion-radio
    {
        --border-radius: 50%;
        border-radius: 50%;
        border: 1px solid #707070;
        --inner-border-radius: 4px;
        --color-checked: #E61D01;
        width: 23px;
        height: 23px;
        margin-right: 13px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    ion-label
    {
        color: #575757;
        font-family: AvenirBook;
        font-size: 13px;
    }
}
.btn_hora
{
    width: 100%;
    --border-radius: 8px;
    font-size: 12px;
    --padding-top: 25px;
    --padding-bottom: 25px;
    margin-bottom: 10px;
    --box-shadow: none ;
}
.btn_listo
{
    --background:#7BED8D;
    --background-activated:#7BED8D;
    --border-radius: 26px;
    font-family: HelveticaNeueRegular;
    width: 100%;
    --box-shadow: 0px 3px 6px #00000074;
    height: 50px;
    font-family: AvenirBlack;
}
.card_list
{
    border: 1px solid #FDFDFD;
    box-shadow: 0px 3px 6px #00000029;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
    .div_list.margin_top_sin_borde
    {
        border-bottom: 0px;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .div_list
    {
        display: flex;
        border-bottom: 1px solid #E3DCDC;
        margin-bottom: 5px;
        .p_book
        {
            color: #575757;
            font-family: AvenirBook;
            margin-top: 0px;
            margin-bottom: 0px;
            width: 55%;
            font-size: 13px;
        }
        .p_black
        {
            color: #575757;
            font-family: AvenirBlack;
            margin-top: 0px;
            margin-bottom: 0px;
            width: 23%;
            margin-left: 22%;
            text-align: right;
            font-size: 13px;
        }
        .p_precio_total
        {
            font-size: 16px;
            width: 30%;
        }
    }
}
.card_mapa
{
    position: relative;
    height: 250px;
    ion-thumbnail
    {
        width: 100%;
        height: 100%;
    }
    .btn_ubicacion
    {
        position: absolute;
        z-index: 99999;
        bottom: 0;
        right: 0;
        --background:#3863A4;
        --background-activated:#3863A4;
        --border-radius: 26px;
        font-family: HelveticaNeueRegular;
        font-size: 12px;
    }
}
ion-input
{
    --color: #748A9D;
    --background:#F0F4F8;
    --placeholder-color:#A6BCD0;
    font-family: Acumin;
    --padding-top: 20px;
    --padding-bottom: 20px;
    border-radius: 8px;
    --padding-start: 20px;
    --padding-end: 20px;
}
@media(min-width: 640px)
{
    ion-card.card_menu
    {
        display: block;
        height: 145px;
        margin-bottom: 30px;
        h1
        {
            margin-bottom: 10px;
        }
    }
    
}
@media(min-width: 768px)
{
    .btn_menu
    {
        margin-left: 3.75rem;
        ion-icon
        {
            font-size: 2.1875rem;
        }
    }
    .btn_menu_izquierdo
    {
        margin-right: 3.75rem;
        ion-icon
        {
            font-size: 2.1875rem;
        }
    }
    ion-card.card_menu
    {
        height: 155px;
        margin-bottom: 50px;
        h1
        {
            margin-bottom: 10px;
        }
    }
    ion-item
    {
        
        --padding-top: 15px;
        --padding-bottom: 15px;
    }
    
}