@font-face{
    font-family: HelveticaNeueBold;
    src : url('/assets/font/helvetica-neue-bold.ttf')
}
@font-face{
    font-family: AvenirBook;
    src : url('/assets/font/Avenir Book.ttf')
}
@font-face{
    font-family: AvenirBlack;
    src : url('/assets/font/Avenir-Black.otf')
}
ion-content
{
    --background: url('/assets/img/fondo.png') 0 0/100% 100% no-repeat;
}
ion-img
{
    margin-top: 30px;
    margin-bottom: 30px;
}
ion-input
{
    --background: #ffffff;
    --color: #707070;
    border: 1px solid #E3E0E0;
    border-radius: 26px;
    --placeholder-color: #707070;
    --padding-start: 1.5625rem;
    --padding-end: 1.5625rem;
    --padding-top: 0.875rem;
    --padding-bottom: 0.875rem;
    box-shadow: 0px 2px 3px #00000029;
    font-family: AvenirBook;
}
.btn_entrar
{
    --background: #A9D72B;
    --border-color: #BCBCBC;
    --border-radius: 26px;
    --border-style: solid;
    --border-width: 1px;
    --box-shadow: 0px 3px 6px #BCBCBC;
    --color: #010008;
    height: 50px;
    font-family: HelveticaNeueBold;
    font-weight: bold;
    width: 100%;
    text-transform: capitalize;
}
.btn_fb
{
    --background: #3863A4;
    --border-color: #E3E0E0;
    --border-radius: 26px;
    --border-style: solid;
    --border-width: 1px;
    --box-shadow: 0px 3px 6px #00000065;
    --color: #FFFFFF;
    height: 50px;
    font-family: HelveticaNeueBold;
    width: 100%;
    text-transform: capitalize;
}
.btn_goo
{
    --background: #FFFFFF;
    --border-color: #E3E0E0;
    --border-radius: 26px;
    --border-style: solid;
    --border-width: 1px;
    --box-shadow: 0px 3px 6px #00000065;
    --color: #000000;
    height: 50px;
    font-family: HelveticaNeueBold;
    width: 100%;
    text-transform: capitalize;
}
.btn_apple
{
    --background: #000000;
    --border-color: #E3E0E0;
    --border-radius: 26px;
    --border-style: solid;
    --border-width: 1px;
    --box-shadow: 0px 3px 6px #00000065;
    --color: #ffffff;
    height: 50px;
    font-family: HelveticaNeueBold;
    width: 100%;
    text-transform: capitalize;
}
p
{
    color: #575757;
    font-family: AvenirBook;
    margin-top: 0px;
    margin-bottom: 0px;
    span
    {
        font-family: AvenirBlack;
    }
}
.p_olvidastes_contraseña
{
    color: #575757;
    font-family: AvenirBlack;
    margin-top: 8px;
    margin-bottom: 8px;
}
ion-col.bajar_col
{
    margin-bottom: 7px;
}
.top_bottom_nuevo
{
    margin-top: 12px;
    margin-bottom: 12px;
}
@media (min-width: 480px) {
    ion-input
    {
        --padding-top: 1.125rem;
        --padding-bottom: 1.125rem;
    }
    .btn_entrar
    {
        height: 3.625rem;
    }
    .btn_fb
    {
        height: 3.625rem;
    }
    .btn_goo
    {
        height: 3.625rem;
    }
    .btn_apple
    {
        height: 3.625rem;
    }
}
@media (min-width: 768px) {
    ion-col.bajar_col
    {
        margin-bottom: 10px;
    }
    ion-img
    {
        margin-top: 4.0625rem;
        margin-bottom: 4.0625rem;
    }
}
@media (min-width: 1024px) {
    ion-input
    {
        --padding-top: 1.375rem;
        --padding-bottom: 1.375rem;
    }
    ion-img
    {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .btn_entrar
    {
        height: 4.0625rem;
    }
    .btn_fb
    {
        height: 4.0625rem;
    }
    .btn_goo
    {
        height: 4.0625rem;
    }
    .btn_apple
    {
        height: 4.0625rem;
    }
}