@font-face{
    font-family: HelveticaNeueRegular;
    src : url('/assets/font/HelveticaNeue-Regular.ttf')
}
ion-content
{
    --background: url('/assets/img/fondo.png') 0 0/100% 100% no-repeat;
}
.btn_menu
{
    --background: transparent;
    --background-activated: transparent;
    --box-shadow: none;
    margin-top: 0.9375rem;
    margin-left: 80%;
    width: 20%;
    ion-icon
    {
        color: #707070;
        font-size: 2.1875rem;
    }
}
p
{
    color: #969696;
    font-family: HelveticaNeueRegular;
}
.p1
{
    font-size: 1.3125rem;
    font-weight: bolder;
}
.p2
{
    font-size: 1rem;
}
.col_bajar
{
    margin-top: 1.875rem;
}
ion-card
{
    border-radius: 26px;
    padding: 10px;
    text-align: center;
    height: 140px;
    box-shadow: 0px 2px 3px #0000005A;
    .img_bajar
    {
        margin-top: 20px;
    }
    p
    {
        color: #707070;
        font-family: HelveticaNeueRegular;
        font-size: 11px;
        margin: 0rem;
    }
    p.p4_card
    {
        margin-top: 10px;
    }
}
.col_pedido_vertical
{
    height: 52px;
    position: relative;
    padding-right: 16px;
    margin-top: 20px;
    .img_circulo
    {
        position: absolute;
        z-index: 99999;
        left: 20px;
        top: -20px;
    }
    .color_blank
    {
        color: #FFFFFF;
        font-family: HelveticaNeueRegular;
        font-size: 13px;
    }
    .circulo_genral
    {
        width: 85px;
        height: 85px;
        position: absolute;
        z-index: 99999;
        left: 20px;
        top: -20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media(min-width: 640px)
{
    .col_pedido_vertical
    {
        .img_circulo
        {
            left: 50px;
        }
        .circulo_genral
        {
            left: 50px;
        }
    }
}
@media(min-width: 768px)
{
    .btn_menu
    {
        ion-icon
        {
            font-size: 3.125rem;
        }
    }
    .p1
    {
        font-size: 2.1875rem;
    }
    .p2
    {
        font-size: 1.5625rem;
    }
    ion-card
    {
        p
        {
            font-size: 15px;
        }
    }
    .col_pedido_vertical
    {
        margin-top: 50px;
        .img_circulo
        {
            left: 80px;
        }
        .color_blank
        {
            font-size: 15px;
        }
        .circulo_genral
        {
            left: 80px;
        }
    }
}