<ion-content>
  <ion-card class="ion-no-margin card_menu">
    <div style="width: 100%;">
      <ion-button class="btn_menu">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-button class="btn_menu_izquierdo" (click)="open_menu ()">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </div>
    <h1 class="ion-text-center">¿A dónde lo llevamos?</h1>
    <ion-grid class="grid_card">
      <ion-row class="ion-justify-content-center">
        <ion-col size="3" size-sm="2">
          <ion-button class="btn_iconos ion-no-margin"><ion-icon name="location-outline"></ion-icon></ion-button>
        </ion-col>
        <ion-col size="3" size-sm="2">
          <ion-button class="btn_iconos ion-no-margin"><ion-icon name="list-outline"></ion-icon></ion-button>
        </ion-col>
        <ion-col size="3" size-sm="2">
          <ion-button class="btn_iconos ion-no-margin"><ion-icon name="card-outline"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <form [formGroup]="form">
    <ion-grid class="margin_top">
      <ion-row class="ion-justify-content-center">
        <ion-col size="11" size-sm="9" size-md="8" size-lg="7">
          <ion-input  formControlName="nombre_receptor" placeholder="Nombre del receptor"></ion-input>
        </ion-col>
        <ion-col size="11" size-sm="9" size-md="8" size-lg="7">
          <ion-input formControlName="direccion" placeholder="Ingresa la dirección"></ion-input>
        </ion-col>
        <ion-col size="11" size-sm="9" size-md="8" size-lg="7">
          <ion-input formControlName="referencia" placeholder="Referencia"></ion-input>
        </ion-col>
        <ion-col size="11" size-sm="9" size-md="8" size-lg="7">
          <ion-input formControlName="telefono" placeholder="Telefono"></ion-input>
        </ion-col>
        <ion-col size="11" size-sm="9" size-md="8" size-lg="7">
          <ion-card class="ion-no-margin card_mapa">
            <ion-card id="map-card" class="map-class2 ion-no-padding ion-no-margin">
              <div #map id="map"></div>
            </ion-card>
            <ion-button class="btn_ubicacion" (click)="current_location ()">Usar ubicación actual</ion-button>
          </ion-card>
        </ion-col>
        <ion-col size="10" size-sm="8" size-md="7" size-lg="6" class="ion-margin-top">
          <ion-button class="btn_listo" [disabled]="!form.valid">¡Listo!</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <ion-grid class="margin_top">
    <ion-row class="ion-justify-content-center">
      <ion-col size="11" size-sm="8" size-md="8" size-lg="7">
        <p class="p_subtitulos ion-no-margin">Resumen</p>
        <ion-card class="ion-no-margin card_list">
          <div class="div_list">
            <p class="p_book">SubTotal</p>
            <p class="p_black">S/. 61.50</p>
          </div>
          <div class="div_list">
            <p class="p_book">Costo de envio (+ 0.5 km)</p>
            <p class="p_black">S/. 6.00</p>
          </div>
          <div class="div_list">
            <p class="p_book">IGV</p>
            <p class="p_black">S/. 3.00</p>
          </div>
          <div class="div_list margin_top_sin_borde">
            <p class="p_book">Total</p>
            <p class="p_black p_precio_total">S/. 64.50</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="11" size-sm="8" size-md="8" size-lg="7">
        <p class="p_subtitulos">Escoge tu metodo de pago</p>
        <ion-radio-group value="biff">
          <ion-row>
            <ion-col size="12">
              <ion-item lines="none">
                <ion-label class="ion-no-margin">Tarjeta de credito o debito.</ion-label>
                <ion-radio slot="start" value="biff" mode="ios"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-item lines="none">
                <ion-label class="ion-no-margin">Contra entrega</ion-label>
                <ion-radio slot="start" value="griff" mode="ios"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
      </ion-col>
      <ion-col size="10" size-sm="7" size-md="7" size-lg="6" class="ion-margin-top">
        <ion-button class="btn_listo">Adelante</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>