<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin card_menu">
    <h1 class="ion-text-center">¿A dónde lo llevamos?</h1>
  </ion-card>

  <form [formGroup]="form">
    <ion-grid class="margin_top">
      <ion-row class="ion-justify-content-center">
        <ion-col size="11" size-sm="9" size-md="8" size-lg="7">
          <ion-input  formControlName="nombre_receptor" placeholder="Nombre del receptor"></ion-input>
        </ion-col>
        <ion-col size="11" size-sm="9" size-md="8" size-lg="7">
          <ion-input formControlName="direccion" placeholder="Ingresa la dirección"></ion-input>
        </ion-col>
        <ion-col size="11" size-sm="9" size-md="8" size-lg="7">
          <ion-input formControlName="referencia" placeholder="Referencia"></ion-input>
        </ion-col>
        <ion-col size="11" size-sm="9" size-md="8" size-lg="7">
          <ion-input formControlName="telefono" placeholder="Telefono"></ion-input>
        </ion-col>
        <ion-col size="11" size-sm="9" size-md="8" size-lg="7">
          <ion-card class="ion-no-margin card_mapa">
            <ion-card id="map-card" class="map-class2 ion-no-padding ion-no-margin">
              <div #map id="map"></div>
            </ion-card>
            <ion-button class="btn_ubicacion" (click)="current_location ()">Usar ubicación actual</ion-button>
          </ion-card>
        </ion-col>
        <ion-col size="10" size-sm="8" size-md="7" size-lg="6" class="ion-margin-top">
          <ion-button class="btn_listo" [disabled]="!form.valid" (click)="go_resumen ()">¡Listo!</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>