<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin card_menu">
    <h1 class="ion-text-center">¿A dónde lo llevamos?</h1>
    <!-- <ion-grid class="grid_card">
      <ion-row class="ion-justify-content-center">
        <ion-col size="3" size-sm="2">
          <ion-button class="btn_iconos ion-no-margin"><ion-icon name="location-outline"></ion-icon></ion-button>
        </ion-col>
        <ion-col size="3" size-sm="2">
          <ion-button class="btn_iconos ion-no-margin"><ion-icon name="list-outline"></ion-icon></ion-button>
        </ion-col>
        <ion-col size="3" size-sm="2">
          <ion-button class="btn_iconos ion-no-margin"><ion-icon name="card-outline"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> -->
  </ion-card>

  <form [formGroup]="form">
    <ion-grid class="margin_top">
      <ion-row class="ion-justify-content-center">
        <ion-col size="11" size-sm="9" size-md="8" size-lg="7">
          <ion-label>Nombre del receptor</ion-label>
          <ion-input  formControlName="nombre_receptor" placeholder="Nombre del receptor"></ion-input>
        </ion-col>

        <ion-col size="11" size-sm="9" size-md="8" size-lg="7">
          <ion-label>Telefono</ion-label>
          <ion-input formControlName="telefono" placeholder="Telefono"></ion-input>
        </ion-col>

        <ion-col *ngIf="direcciones.length <= 0" class="ion-text-center">
          <ion-button (click)="marcar_ubicacion ()">
            <ng-container *ngIf="mapa_seleccionado">
              Editar mi ubicacion
            </ng-container>
            <ng-container *ngIf="!mapa_seleccionado">
              Marcar mi ubicacion
            </ng-container>
          </ion-button>
        </ion-col>
        <ion-col *ngIf="direcciones.length > 0" size="11" size-sm="9" size-md="8" size-lg="7">
          <ion-select  formControlName="_direccion" placeholder="Mis ubicaciones" interface="popover" (ionChange)="select_changed ($event.detail.value)">
            <ion-select-option *ngFor="let item of direcciones" [value]="item">
              {{ item.nombre }}
            </ion-select-option>

            <ion-select-option value='nuevo'>
              Agregar nueva direccion
            </ion-select-option>
          </ion-select>
        </ion-col>
        <ng-container *ngIf="direcciones.length > 0 || mapa_seleccionado">
          <ion-col size="11" size-sm="9" size-md="8" size-lg="7">
            <ion-label>Dirección</ion-label>
            <ion-input formControlName="direccion" placeholder="Ingresa la dirección"></ion-input>
          </ion-col>
          <ion-col size="11" size-sm="9" size-md="8" size-lg="7">
            <ion-label>Referencia</ion-label>
            <ion-input formControlName="referencia" placeholder="Referencia"></ion-input>
          </ion-col>
        </ng-container>

        <!-- <ion-col size="11" size-sm="9" size-md="8" size-lg="7">
          <ion-card class="ion-no-margin card_mapa">
            <ion-card id="map-card" class="map-class2 ion-no-padding ion-no-margin">
              <div #map id="map"></div>
            </ion-card>
            <ion-button class="btn_ubicacion" (click)="current_location ()">Usar ubicación actual</ion-button>
          </ion-card>
        </ion-col> -->
        <!-- <ion-col size="10" size-sm="8" size-md="7" size-lg="6" class="ion-margin-top">
          <ion-button class="btn_listo" [disabled]="!form.valid" (click)="go_resumen ()">¡Listo!</ion-button>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </form>

  <!-- <ion-grid class="margin_top">
    <ion-row class="ion-justify-content-center">
      <ion-col size="11" size-sm="8" size-md="8" size-lg="7">
        <p class="p_subtitulos ion-no-margin">Resumen</p>
        <ion-card class="ion-no-margin card_list">
          <div class="div_list">
            <p class="p_book">SubTotal</p>
            <p class="p_black">S/. 61.50</p>
          </div>
          <div class="div_list">
            <p class="p_book">Costo de envio (+ 0.5 km)</p>
            <p class="p_black">S/. 6.00</p>
          </div>
          <div class="div_list">
            <p class="p_book">IGV</p>
            <p class="p_black">S/. 3.00</p>
          </div>
          <div class="div_list margin_top_sin_borde">
            <p class="p_book">Total</p>
            <p class="p_black p_precio_total">S/. 64.50</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="11" size-sm="8" size-md="8" size-lg="7">
        <p class="p_subtitulos">Escoge tu metodo de pago</p>
        <ion-radio-group value="biff">
          <ion-row>
            <ion-col size="12">
              <ion-item lines="none">
                <ion-label class="ion-no-margin">Tarjeta de credito o debito.</ion-label>
                <ion-radio slot="start" value="biff" mode="ios"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-item lines="none">
                <ion-label class="ion-no-margin">Contra entrega</ion-label>
                <ion-radio slot="start" value="griff" mode="ios"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
      </ion-col>
      <ion-col size="10" size-sm="7" size-md="7" size-lg="6" class="ion-margin-top">
        <ion-button class="btn_listo">Adelante</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>

<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col size="10" offset="1" size-sm="8" offset-sm="2" size-md="7" size-lg="6" class="ion-margin-bottom">
      <ion-button class="btn_listo" [disabled]="!form.valid" (click)="go_resumen ()">¡Listo!</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>