

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button class="badge-button" routerLink="/pedido-resumen/" routerDirection="forward">
        <ion-icon size="large" slot="icon-only" name="cart-outline" class="icon_carrito"></ion-icon>
        <ion-badge *ngIf="stock_validator.carrito_platos.size > 0" [class.badge-one]="stock_validator.carrito_platos.size < 10" [class.badge-two]="stock_validator.carrito_platos.size >= 10" color="danger" class="ion-no-padding">{{ stock_validator.carrito_platos.size }}</ion-badge>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding" style="background-color: rgba(255, 255, 255, 0.3);">
    <ion-row style="background: #ffffff;">
      <ion-col size="12" class="ion-margin-bottom col_slider">
        <ion-row>
          <ion-col size="2" class="ion-text-center">
            <span class="slider-nav arrow-prev" (click)="slidePrev (sliderTwo, slideWithNav2)">
              <ion-icon name="chevron-back-outline" class="flecha_slider" [class.disabled]="sliderTwo.isBeginningSlide"></ion-icon>
            </span>
          </ion-col>
          <ion-col size="8">
            <ion-slides pager="false" [options]="slideOptsTwo" #slideWithNav2 (ionSlideDidChange)="slidesEmpresaChanged ($event)">
              <ion-slide *ngFor="let item of empresas" class="slider">
                <img [src]="item.logotipo">
              </ion-slide>
            </ion-slides>

            <ion-item class="ion-text-center" *ngIf="loading_empresas === true">
              <ion-label>
                <ion-spinner></ion-spinner>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="2" class="ion-text-center">
            <span class="slider-nav arrow-next" (click)="slideNext (sliderTwo, slideWithNav2)">
              <ion-icon name="chevron-forward-outline" class="flecha_slider" [class.disabled]="sliderTwo.isEndSlide"></ion-icon>
            </span>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="12" class="ion-no-padding" class="mamachela">
        <ion-slides #slideWithNav3 [ngStyle]="{'background': empresa_seleccionada?.color}" pager="false" [options]="slideOptsOne" class="slider_mamachela" (ionSlideDidChange)="slidesCartaChanged ($event)">
          <ion-slide>
          </ion-slide>
          <ng-container *ngFor="let carta of empresa_seleccionada?.cartas; index as i">
            <ion-slide (click)="slideTo (i)">
              <div class="linea_blanco" *ngIf="i === carta_current_index"></div>
              <p class="p_active_slider" *ngIf="i === carta_current_index">{{ carta.nombre }}</p>
              <p *ngIf="i !== carta_current_index">{{ carta.nombre }}</p>
              <div class="div_triangulo" *ngIf="i === carta_current_index"></div>
            </ion-slide>
          </ng-container>
          <ion-slide>
          </ion-slide>
        </ion-slides>

        <ion-item class="ion-text-center" *ngIf="loading_carta === true">
          <ion-label>
            <ion-spinner></ion-spinner>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="carta_seleccionada?.tipo_carta === '0'" class="ion-justify-content-center">
      <ion-col size="12">
        <ion-thumbnail class="img_img">
          <img src="assets/img/8f003918e9ee1ed3485149c7b6daf73a.png">
        </ion-thumbnail>
      </ion-col>

      <ion-col size="10" size-sm="7" size-md="6">
        <ion-card class="card_tarifario">
          <ion-card-header>
            <ion-card-title>Tarifario</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="12">
                <ion-row>
                  <ion-col size="10">
                    <p class="titulo_black">Menu completo</p>
                    <p class="titulo_book">
                      (<span *ngFor="let menu of menus ; let i = index">
                        <ng-container *ngIf="i < menus.length - 2">
                          1 {{ menu.nombre }},
                        </ng-container>

                        <ng-container *ngIf="i === menus.length - 2">
                          1 {{ menu.nombre }} y
                        </ng-container>

                        <ng-container *ngIf="i === menus.length - 1">
                          1 {{ menu.nombre }}
                        </ng-container>
                      </span>)
                    </p>
                  </ion-col>
                  <ion-col size="2" class="ion-text-sm-end">
                    <p class="titulo_book bajar_p_precio">({{ carta_seleccionada?.precio | currency:'S/. ' }})</p>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="12" class="col_bajar_entradas">
                <p class="titulo_black">Quiero solo…</p>
                <ion-row>
                  <ion-col size="6" *ngFor="let menu of menus; index as i">
                    <ion-row>
                      <ion-col size="8">
                        <p class="titulo_black"><span *ngIf="i%2 === 1">&nbsp;&nbsp;</span>{{ menu.nombre }}</p>
                      </ion-col>
                      <ion-col size="4">
                        <p class="titulo_book">({{ menu.precio | currency:'S/. ' }})</p>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col *ngFor="let menu_elemento of carta_seleccionada?.menus_dia" size="10" size-sm="7" class="ion-margin-bottom">
        <h5>{{ menu_elemento.data.nombre }}</h5>
        <ion-row>
          <ion-col size="12">
            <ion-row>
              <ion-col size="12" *ngFor="let menu_dia of menu_elemento.menus_dia">
                <ion-item lines="none">
                  <img src="assets/img/e00af2ba8b68026290a14017f53576cd.png">
                  <ion-label class="ion-text-wrap">{{ menu_dia.menu_nombre }}</ion-label>

                  <ion-button class="btn_restar" (click)="remove_menu_dia_carrito (menu_dia)"><ion-icon name="remove"></ion-icon></ion-button>
                    <p class="p_cantidad">{{ menu_dia.cantidad_solicitado !== undefined ? menu_dia.cantidad_solicitado : 0 }}</p>
                    <ion-button class="btn_sumar" (click)="add_menu_dia_carrito (menu_dia)"><ion-icon name="add"></ion-icon></ion-button>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="10" size-sm="7" size-md="6">
        <ion-card class="card_precio_verde">
          <p><span class="span_total ion-margin-end">Total a pagar:</span><span class="span_precio">
            {{ get_precio_total (carta_seleccionada, carta_seleccionada.menus_completos, carta_seleccionada.cantidad_elementos_menu, carta_seleccionada?.menus_dia) | currency:'S/. ' }}
          </span></p>
        </ion-card>
      </ion-col>

      <ion-col size="9" size-sm="7" class="ion-margin-bottom ion-margin-top">
        <h5 class="espacio_resumen">Resumen de pedido</h5>
        <ion-row class="ion-justify-content-center">
          <ion-col size="11">
            <ion-row class="">
              <ion-col size="6" class="separar_resumen_pedido">
                <ion-row>
                  <ion-col size="9">
                    <ion-label  class="label_resumen menu_completo">Menu completo: </ion-label>
                  </ion-col>
                  <ion-col size="3" class="padding_left_number">
                    <ion-label class="label_resumen">{{ carta_seleccionada.menus_completos !== undefined ? carta_seleccionada.menus_completos : 0 }}</ion-label>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="6" *ngFor="let menu_elemento of carta_seleccionada?.menus_dia" class="separar_resumen_pedido">
                <ion-row>
                  <ion-col size="9">
                    <ion-label  class="label_resumen">{{ menu_elemento.data.nombre }} extra:</ion-label>
                  </ion-col>
                  <ion-col size="3" class="padding_left_number">
                    <ion-label class="label_resumen"> {{ check_elemento_extra (carta_seleccionada.menus_completos, menu_elemento.data.id) }}</ion-label>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="9" size-sm="7">
        <h5>¿Algún comentario?</h5>
        <ion-textarea [(ngModel)]="menu_dia_comentario" rows="10" cols="100"></ion-textarea>
        <div class="div_btn_final">
          <ion-button class="btn_anadir_pagar" [disabled]="get_precio_total (carta_seleccionada, carta_seleccionada.menus_completos, carta_seleccionada.cantidad_elementos_menu, carta_seleccionada?.menus_dia) <= 0" (click)="agregar_carrito_menu (carta_seleccionada.menus_completos, carta_seleccionada.cantidad_elementos_menu, carta_seleccionada?.menus_dia)">Añadir mas</ion-button>
          <ion-button class="btn_anadir_pagar">Pagar</ion-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="carta_seleccionada?.tipo_carta === '1'" class="ion-justify-content-center" style="display: block;">
      <ion-col size="12" size-sm="11" size-md="9" size-lg="11" size-xl="9" class="ion-margin-top menu_aldia_mamachola">
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-text-center" *ngIf="loading_platos === true">
            <ion-item class="ion-text-center ion-margin-top">
              <ion-label>
                <ion-spinner></ion-spinner>
              </ion-label>
            </ion-item>
          </ion-col>

          <ion-col *ngFor="let plato of carta_seleccionada?.platos" size="12" size-sm="6" size-lg="4" class="padding_start_end">
            <ion-card (click)="ver_plato (plato.data)">
              <ion-thumbnail >
                <img [src]="plato.data.imagen">
              </ion-thumbnail>
              <div class="div_padding_top">
                <h5 >{{ plato.data.nombre }}</h5>
                <p class="descripcion_card">{{ plato.data.descripcion }}</p>
                <div>
                  <div (click)="ver_plato (plato.data)" class="div_precio">
                    <p class="p_precio">{{ plato.data.precio | currency:'S/. ' }}</p>
                  </div>
                  <div class="div_botonos">
                    <!-- <ion-button class="btn_menos" (click)="remove_carrito (plato)">-</ion-button>
                    <p class="p_catidad">{{ plato.cantidad !== undefined ? plato.cantidad : 0}}</p> -->
                    <ion-button class="btn_mas"><ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
                  </div>
                </div>
                <!-- <ion-button class="btn_close ion-no-padding ion-no-margin"><ion-icon name="heart-outline"></ion-icon></ion-button> -->
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="carta_seleccionada?.tipo_carta === '2'" class="ion-justify-content-center" style="display: block;">
      <ion-col size="12" size-sm="11" size-md="9" size-lg="11" size-xl="9" class="ion-margin-top menu_aldia_mamachola">
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-text-center" *ngIf="loading_platos === true">
            <ion-item class="ion-text-center ion-margin-top">
              <ion-label>
                <ion-spinner></ion-spinner>
              </ion-label>
            </ion-item>
          </ion-col>

          <ion-col *ngFor="let promocion of carta_seleccionada?.promociones" size="12" size-sm="6" size-lg="4" class="padding_start_end">
            <ion-card (click)="ver_promocion (promocion)">
              <ion-thumbnail >
                <img *ngIf="promocion.tipo === '0'" [src]="promocion.plato.imagen">
                <img *ngIf="promocion.tipo === '1'" [src]="get_imagen (promocion)">
              </ion-thumbnail>
              <div class="div_padding_top">
                <h5 >{{ promocion.nombre }}</h5>
                <p class="descripcion_card">{{ promocion.descripcion }}</p>
                <div>
                  <div class="div_precio">
                    <p class="p_precio">{{ promocion.precio_total | currency:'S/. ' }}</p>
                  </div>
                  <div class="div_botonos">
                    <!-- <ion-button class="btn_menos" (click)="remove_carrito (plato)">-</ion-button>
                    <p class="p_catidad">{{ plato.cantidad !== undefined ? plato.cantidad : 0}}</p> -->
                    <ion-button class="btn_mas"><ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
                  </div>
                </div>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
