<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small" color="white" (click)="back ()">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <form [formGroup]="form">
    <ion-grid class="ion-padding-start ion-padding-end" style="background-color: rgba(255, 255, 255, 0.3);">
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" class="ion-no-padding">
          <ion-row class="ion-justify-content-center" >
            <ion-col size="3" size-sm="2" size-md="3" class="ion-no-padding">
              <ion-img src="assets/img/Componente64.png"></ion-img>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="10" size-sm="9" size-md="8" size-lg="7" class="bajar_col">
          <ion-input type="text" placeholder="Nombres y Apellidos" formControlName="nombre"></ion-input>
        </ion-col>
        <ion-col size="10" size-sm="9" size-md="8" size-lg="7" class="bajar_col">
          <ion-input type="email" placeholder="Correo electrónico" formControlName="email"></ion-input>
        </ion-col>
        <ion-col size="10" size-sm="9" size-md="8" size-lg="7" class="bajar_col">
          <ion-input type="password" placeholder="Contraseña" formControlName="password" ></ion-input>
        </ion-col>
        <ion-col size="10" size-sm="9" size-md="8" size-lg="7" class="bajar_col">
          <ion-input type="password" placeholder="Repite contraseña" formControlName="confirmar_password"></ion-input>
        </ion-col>
        <ion-col size="10" size-sm="9" size-md="8" size-lg="7" class="ion-padding-start ion-padding-end col_flex bajar_col">
          <ion-checkbox formControlName="terms_conditions"></ion-checkbox>
          <ion-label class="ion-margin-start">Acepto los términos del servicio</ion-label>
        </ion-col>
        <ion-col size="10" size-sm="9" size-md="8" size-lg="7">
          <ion-button [disabled]="!form.valid" (click)="onSubmit ()" class="btn_entrar ion-no-margin">Registrarme</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>