<ion-content style="position: relative;">
  <ion-button class="btn_menu_izquierdo" style="position: fixed;" (click)="back ()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-card style="position: relative;">
    <ion-thumbnail>
      <img [src]="plato?.data.imagen">
    </ion-thumbnail>
    <ion-button class="btn_corazon" (click)="favorito ()">
      <ion-icon style="font-size: 24px;" [ngStyle]="{'color':es_favorito === true ? 'red' : 'white' }" name="heart"></ion-icon>
    </ion-button>
  </ion-card>
  <ion-grid class="ion-no-padding" style="background-color: rgba(255, 255, 255, 0.3);">
    <ion-row class="ion-justify-content-center">
      <ion-col size="8" size-sm="7">
        <h1>{{ plato?.data.nombre }}</h1>
        <p class="p_precio">{{ plato?.data.precio | currency:'S/. ' }}</p>
        <p class="p_descripcion">
          {{ plato?.data.descripcion }}
        </p>
        <div class="div_sumar_resto">
          <ion-button class="btn_restar" (click)="remove_carrito ()">-</ion-button>
          <p class="p_cantidad">{{ cantidad }}</p>
          <ion-button class="btn_sumar" (click)="add_carrito ()">+</ion-button>
        </div>
        <ng-container>
          <h5 *ngIf="extras.length > 0" class="bajar_opciones">Opciones menu</h5>
          <ion-row>
            <ion-col size="12" *ngFor="let item of extras">
              <div *ngIf="stock_validator.check_insumo_extra_disponible (item.empresa_id + '-' + item.insumo_id)">
                <div class="p_descripcio div_precio">
                  {{ item.menu_nombre }}  ({{ item.precio | currency:'S/. ' }})
                </div>
                <div class="div_botonos">
                  <ion-button class="btn_menos" (click)="update_extra_cantidad (item, -1)">-</ion-button>
                  <p class="p_catidad">{{ item.cantidad }}</p>
                  <ion-button class="btn_mas" (click)="update_extra_cantidad (item, +1)">+</ion-button>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ng-container>
      </ion-col>
      <ion-col size="8" size-sm="7" class="ion-margin-top">
        <form [formGroup]="form">
          <h5>¿Algún comentario?</h5>
            <ion-textarea formControlName="comentario"></ion-textarea>
            <div>
              <ion-button [disabled]="cantidad <= 0" (click)="agregar_carrito ()">Agregar al carrito</ion-button>
              <ion-button (click)="go_resumen ()">Pagar</ion-button>
            </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>