<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding-start ion-padding-end" style="background-color: rgba(255, 255, 255, 0.3);">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-no-padding">
        <ion-row class="ion-justify-content-center" >
          <ion-col size="3" size-sm="2" size-md="3" size-xl="2" class="ion-no-padding">
            <ion-img src="assets/img/Componente61.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" class="ion-text-center col_bajar ion-margin-bottom">
        <p class="p1 ion-no-margin">
          Hoy quiero Nyoy de…
        </p>
        <p class="p2 ion-no-margin">
          (Puedes pedir de varios a la vez)
        </p>
      </ion-col>
      <ion-col size="12" size-sm="8" size-md="9" size-lg="8" class="ion-margin-top ion-margin-bottom">
        <ion-row class="ion-justify-content-center">
          <ion-col size="6" *ngFor="let item of empresas">
            <ion-card class="ion-no-margin" (click)="view_empresa (item)">
              <div class="dv_img_restaurant">
                <img [src]="item.logotipo" class="img_ob_cover">
              </div>
              <p>({{ item.linea_comida }})</p>
            </ion-card>
          </ion-col>
          <!-- <ion-col size="6">
            <ion-card class="ion-no-margin">
                <img src="assets/img/Logocandelaria.png">
              <p>(Pizzeria y comida urbana)</p>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card class="ion-no-margin">
                <img src="assets/img/Logodonas.png">
              <p>LAS DOÑAS<br> (Polleria Peruana)</p>
            </ion-card>
          </ion-col> -->
          <ion-col size="6">
            <ion-card class="ion-no-margin" style="opacity: 0.7;" (click)="alerta ()">
              <div class="dv_img_restaurant">
                <img src="assets/img/Grupo1558.png" class="img_ob_cover baja_img">
              </div>
              <p class="">(Bodega familiar)</p>
            </ion-card>
          </ion-col>
          <ion-col size="12" style="position: relative;" class="col_bajar_noto">
              <ion-card class="card_p_envio">
                <p class="p_envio">Envio gratis en compras mayores a S/. 100</p>
              </ion-card>
              <img src="assets/img/Grupo 1581.svg" class="img_moto">
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>