<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding-start ion-padding-end" style="background-color: rgba(255, 255, 255, 0.3);">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-no-padding">
        <ion-row class="ion-justify-content-center" >
          <ion-col size="3" size-sm="2" size-md="3" size-xl="2" class="ion-no-padding">
            <ion-img src="assets/img/Componente61.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-no-padding bajar_grid" *ngIf="pedidos.length > 0">
    <ion-row>
      <ion-col *ngFor="let pedido of pedidos" (click)="ver_detalles (pedido)" size="12" class="col_pedido_vertical" [ngStyle]="{'background-color': get_pedido_color (pedido)}">
        <div *ngIf="pedido.estado <= 2" class="circulo_genral" style="background-color: #B9353B;">
          <img src="assets/img/h6s0Gk.tif.png">
        </div>

        <div *ngIf="pedido.estado === 3 && pedido.repartidor_llego === false" class="circulo_genral" style="background-color: #4E35B9;">
          <img src="assets/img/Grupo75.png">
        </div>

        <div *ngIf="pedido.estado === 3 && pedido.repartidor_llego === true" class="circulo_genral" style="background-color: #35B93F;">
          <img src="assets/img/SOcopZ.tif.png">
        </div>
        <ion-row class="ion-justify-content-end" style="height: 100%;">
          <ion-col size="8" size-sm="9" size-md="10" class="ion-padding-start padding_end_sperando" style="display: flex;align-items: center;">
            <p *ngIf="pedido.estado <= 2" class="color_blank">
              Su pedido ya se esta preparando
            </p>
            
            <p *ngIf="pedido.estado === 3 && pedido.repartidor_llego === false" class="color_blank">
              Su pedido ya esta en camino
            </p>
            
            <p *ngIf="pedido.estado === 3 && pedido.repartidor_llego === true" class="color_blank">
              Su pedido ya llego
            </p>
          </ion-col>
        </ion-row>
        <ion-icon name="chevron-forward-outline" class="icono_rigth_blanco"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-padding-start ion-padding-end" style="background-color: rgba(255, 255, 255, 0.3);">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center col_bajar ion-margin-bottom">
        <p class="p1 ion-no-margin">
          Hoy quiero Nyoy de…
        </p>
        <p class="p2 ion-no-margin">
          (Puedes pedir de varios a la vez)
        </p>
      </ion-col>
      <ion-col size="12" size-sm="8" size-md="9" size-lg="8" class="ion-margin-top ion-margin-bottom">
        <ion-row class="ion-justify-content-center">
          <ion-col size="6" *ngFor="let item of empresas">
            <ion-card class="ion-no-margin" (click)="view_empresa (item)">
              <div class="dv_img_restaurant">
                <img [src]="item.logotipo" class="img_ob_cover">
              </div>
              <p>({{ item.linea_comida }})</p>
            </ion-card>
          </ion-col>
          
          <ion-col size="6">
            <ion-card class="ion-no-margin" style="opacity: 0.7;" (click)="alerta ()">
              <div class="dv_img_restaurant">
                <img src="assets/img/Grupo1558.png" class="img_ob_cover baja_img">
              </div>
              <p class="">(Bodega familiar)</p>
            </ion-card>
          </ion-col>
          <ion-col size="12" style="position: relative;" class="col_bajar_noto">
              <ion-card class="card_p_envio">
                <p class="p_envio">Envio gratis en compras mayores a S/. 100</p>
              </ion-card>
              <img src="assets/img/Grupo 1581.svg" class="img_moto">
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>