<ion-content>
  <ion-slides pager="true">
      <ion-slide class="slider-1">
          <ion-card class="ion-text-center ion-no-margin">
              <ion-thumbnail>
                  <img src="assets/img/Imagen10.png" id="img1">
              </ion-thumbnail>
              <h1 class="h1_1">Los ingredientes mas frescos, de mejor calidad para tu hogar.</h1>
          </ion-card>
      </ion-slide>
      <ion-slide class="slider-2">
          <ion-card class="ion-text-center ion-no-margin">
              <ion-thumbnail>
                  <img src="assets/img/Imagen31.png" id="img2">
              </ion-thumbnail>
              <h1 class="h1_2">Los estándares mas altos de limpieza y sanidad para el bienestar de tu familia</h1>
          </ion-card>
      </ion-slide>
      <ion-slide class="slider-3">
          <ion-card class="ion-text-center ion-no-margin">
              <ion-thumbnail>
                  <img src="assets/img/Imagen30.png" id="img3">
              </ion-thumbnail>
              <h1 class="h1_3">Los estándares mas altos de limpieza y sanidad para el bienestar de tu familia</h1>
          </ion-card>
      </ion-slide>
  </ion-slides>
  <ion-button (click)="saltar ()">
      Saltar
  </ion-button>
</ion-content>